# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
.Ivenv/
venv/
ENV/
env/
.python-version

# ===============================
# Streamlit
# ===============================
.streamlit/
.streamlit/secrets.toml

# ===============================
# Rust
# ===============================
target/
Cargo.lock

# ===============================
# C / C++
# ===============================
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.a
*.lib

# ===============================
# Build artifacts
# ===============================
build/
dist/
main
main.exe
main.cpp
main.rs

# ===============================
# OS / Editor junk
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Logs / temp
# ===============================
*.log
*.tmp
*.swp

# ===============================
# Knowladge Base
# ===============================
knowledge-base/

# ===============================
# Vector DB
# ===============================
vector_db/